%h1 Search Result
%hr


-@articles.each do |article|
	%table{:border => 'solid'}
		-article.each do |a|
			%tr
				-a.each do |k,v|
					%td= k
					%td= v
	%p= link_to 'detail', search_detail_path(:pid => article[:pubmed_id])

	%hr

%p= link_to 'prev', search_result_path(:queri => params[:queri], :uname => params[:uname], :retstart => @retstart, :page => 'prev')

%p= link_to 'next', search_result_path(:queri => params[:queri], :uname => params[:uname], :retstart => @retstart, :page => 'next')

%hr
%p= link_to 'top', root_path
